.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  margin-right: 16px;
  width: 20%;
  height: 100vh;
  background-color: #333;
}

.autocompleteWrapper {
}

.autocompleteInput {
  width: 96%;
  margin: 84px auto 0 auto;
  padding: 16px;
  display: flex;
  border: 1px solid yellow;
}

.suggestionWrapper {
  border: 1px solid rgb(205, 209, 212);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  width: 32rem;
  background: white;
  transition: width 0.35s ease 0s;
  max-height: 50vh;
  overflow: auto;
  opacity: 1;
}

.suggestionWrapper > li {
  padding: 8px 4px;
  background-color: rgb(255, 255, 255);
  margin: 4px 0;
  cursor: pointer;
}
